* {
    padding: 0;
    margin: 0;
}

body {
    display: grid;
    height: 100vh;
    grid-template: auto 1fr auto / auto 1fr auto;
    background-color: #F4D03F;
    background: linear-gradient(132deg, #F4D03F 0%, #1642a0 85%) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Quicksand', sans-serif;
}



#header {
    background: rgb(54, 53, 53);
    padding: 0.8rem;
    grid-column: 1 / 4;
    color: white;
    z-index: 9999;
}

main {
    display: grid;
    grid-column: 1 / 4;
}

#footer {
    background: rgb(54, 53, 53);
    padding: 0.2rem;
    text-align: center;
    grid-column: 1 / 4;
    color: white;
    z-index: 9999;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.parenthome {
    display: grid;
    place-items: center;
    overflow: auto;
    position: absolute;
    width: 100%;
    top: 30%;
    padding-bottom: 1.5rem;
}

.parenthome .intro .brand{
    z-index: 9999;
}

    .parenthome .intro p {
        z-index: 9999;
    }

.child {
    padding: 0.5rem;
    border-radius: 10px;
    font-size: 2rem;
    text-align: center;
}

a {
    text-decoration: none;
    color: white;
}

.wrapper {
    opacity: 1;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 1000;
}

.index_particles {
    height: 100%;
    width: 100%; /*177.77777778vh; */ /* 100 * 16 / 9 */
    object-fit: cover;
}

@media only screen and (max-width: 500px) {
    .emailLink {
        font-size: small;
    }
}

/* 
    animations
*/

@keyframes blink {
    from {
        opacity: 1
    }

    to {
        opacity: 0;
    }
}

@keyframes typing {
    from {
        width: 0
    }

    to {
        width: 100%
    }
}

.blinking {
    animation: blink 2s infinite;
}

#quotes, .shortInfo {
    font-style: italic;
    font-size: 20px;
}